<!DOCTYPE html>
<html>
    <head>
        <title>Résultats</title>
    </head>
    <body>
        <h1>Résultats</h1>

        <h2>Transport fluvial</h2>
        <p>Tonne.km : {{ tonne_km_fluvial }}</p>
        <p>Consommation : {{ consommation_L }} L</p>
        <p>Émissions CO2 : {{ emissions_co2_fluvial }} t</p>
        <p>Émissions GES : {{ emissions_ges_fluvial }} t</p>

        <h2>Transport routier</h2>
        <p>Tonne.km : {{ tonne_km_routier }}</p>
        <p>Émissions GES : {{ emissions_ges_routier }} t</p>

        <a href="/">Retour au formulaire</a>
    </body>
</html>